
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/user.css" />
</head>
<body class="bg-image user-container">
    <div class="form-container">
        <h2>Login</h2>
        <form asp-controller="User" asp-action="Login" method="post">
            <input class="form-control mb-3" type="text" placeholder="Email" required name="email" />
            <input class="form-control mb-3" type="password" placeholder="Password" required name="password" />
            <div class="d-grid gap-2 mb-3"> <button class="btn btn-primary" type="submit">Login</button> </div>
            @if (ViewData["Message"] != null)
            {
                <div class="form-group">
                    <div class="alert alert-danger" role="alert"> @ViewData["Message"]</div>
                </div>
            }
            ¿Don't have an account? 
            <a href="@Url.Action("Register","User")"> Register!</a>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
