@model AppEmail.Models.User;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/user.css" />
</head>
<body class="bg-image user-container">
    <div class="form-container">
        <h2>Register</h2>
        <form asp-controller="User" asp-action="Register" method="post">
            <input class="form-control mb-3" type="text" placeholder="Name" asp-for="Name" required />
            <input class="form-control mb-3" type="text" placeholder="Email" required asp-for="Email" />
            <input class="form-control mb-3" type="password" placeholder="Password" required asp-for="Password" />
            <div class="d-grid gap-2 mb-3"> <button class="btn btn-primary" type="submit">Register</button> </div>
            @if (ViewData["Message"] != null)
            {
                <div class="form-group">
                    <div class="alert alert-danger" role="alert"> @ViewData["Message"]</div>
                </div>
            }
            ¿Already have an account? 
            <a href='@Url.Action("Login","User")'> Login </a>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
